
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 1.6;
    overflow-x: hidden;
    background: #18191A;
    font-size: 0.9rem;
}

@media (max-width: 991px){
    .sidebar{
        background-color: #242526;
        backdrop-filter: blur(10px);
    }
}