
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    background: #ffffff;
    font-size: 0.9rem;
}

.navbar{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 22px;
    background-color: #242526;
}


.image_profile{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.title{
    padding-top: 40px;
}

.btn{
    background-color: #242526;
    display: inline-block;
    width: fit-content;
    object-fit: cover;
    border: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: white;
}

.btn.sm{
    background-color: #198754;
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
}

.btn.sm.danger{
    background-color: #DC3545;
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
}

.btn.sm.danger:hover{
    background-color: #FF6170;
    color: white;
}

.btn.sm:hover{
    background-color: #27B674;
    color: white;
}

.form-check-label{
    margin-right: 5rem;
}

.menu{
    background: #242526;
}

@media (max-width: 991px){
    .sidebar{
        background-color: #242526;
        backdrop-filter: blur(10px);
    }
}